@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
.kvchern
{width:100px; height:100px; background-color:#000000;border:15px; display: inline-block;}
.kvchern:hover { background-color: orange;}
.kvsin
{width:100px; height:100px; background-color:#00ffff; border:15px; display: inline-block;}
.kvsin:hover { background-color: orange;}
.linia
{height: 200px;}

.item-list
 {background-color: #DADDEB; height: 40px;
border-bottom: 10px solid #A3A6BD;
position: relative;
bottom: 40px;}

.pager-current 
{color: #800000;
font-size: large;
font-family: 'Noto Serif', serif;
display: inline-block;
padding: 0.5em;
height: 32px;}
.pager-current:hover
{background: rgba(7, 13, 48, 0.4);
}
span:hover
{color: #040B59;}
.pager-item 
{
display: inline-block;
padding: 0.5em;}
.pager-item:hover
{background: rgba(7, 13, 48, 0.4);
    height: 32px;;
}
.pager-next
{
display: inline-block;
padding: 0.5em;
height: 32px;}

.pager-next:hover
{background: rgba(7, 13, 48, 0.4);
}
a
{color: #800000;
    font-size: large;
    font-family: 'Noto Serif', serif;
    text-decoration: none;
border-right: 0.5em;}
a:hover
{ 
    color: #040B59;}

    .linia1
    {height: 100px;
    border: 2px solid black;
width:30%;
margin-top: 20px;}
    
   .white
   {width:50%; height:100px; background-color:white; float:left;
} 
   .black
   {width:50%; height:100px; background-color:black; float:right;} 

   .black p 
   {font-family: 'Epilogue', sans-serif;
font-size: 60px;
color:white;
padding-left: 10px;
position: relative;
bottom: 20px;

}

.white p
{font-family: 'Epilogue', sans-serif;
    font-size: 60px;
    color:black;
    padding-left: 10px;
    position: relative;
    bottom: 20px;
}

